<mtapp:setting
    id="assetrelativepath_search"
    label="<__trans phrase="Search">">
<ul>
<li><input type="text" class="text" value="<mt:var name="assetrelativepath_search" escape="html">" name="assetrelativepath_search" id="assetrelativepath_search" /></li>
</ul>
</mtapp:setting>
<mtapp:setting
    id="assetrelativepath_replace"
    label="<__trans phrase="Replace">">
<ul>
<li><input type="text" class="text" value="<mt:var name="assetrelativepath_replace" escape="html">" name="assetrelativepath_replace" id="assetrelativepath_replace" /></li>
</ul>
</mtapp:setting>